body {
    background: url("/assets/images/Labyrinth_Screenshot.png") no-repeat fixed center;
    background-size: cover;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    color: #111111;
    background-color: #FFFFFF;
    z-index: 1;
}

.menu a {
    color: #111111;
}

.menu li:hover{
    background-color: #111111;
}

.menu li a:hover{
    color: #FFFFFF;
}

.menu li:active{
    background-color: #FFFFFF;
}

.menu li a:active{
    color: #111111;
}

.menu .nav {
    float: right;
}

.content {
    margin-top: 40px;
    background-color: #111111;
    color: #FFFFFF;
    max-width: 100%;
    height: calc( 100vh - 40px );
}

.content .row,
.content .row .col-lg-12{
    height: 100%;
}

.content h1 {
    text-align: center;
    margin-top: 50px;
}

.content p {
    margin-left: 30px;
    margin-top: 50px;
}

.content .scroll {
    width: 100%;
    text-align: center;
    position: absolute;
    height: 40px;
    bottom: 0;
}

.empty {
    background-color: transparent;
    height: calc( 100vh - 80px );
}

.paths .row {
    height: 100%;
}

.path {
    height: 100%;
    background-color: #111111;
}

.thinking {
    color: darkgreen;
}

.thinking:hover {
    color: lightgreen;
}

.jumping {
    color: #f3b937;
}

.jumping:hover {
    color: #ffd577;
}

.dodging {
    color: darkred;
}

.dodging:hover {
    color: red;
}

footer {
    background-color: #111111;
    color: #FFFFFF;
    text-align: center;
    padding:20px;
}

footer a {
    color: #FFFFFF;
}