<footer>
    <div class="row">
        <div class="col-lg-4">
            <a href="http://www.sashalaurent.com">
                <span class="oi oi-external-link"></span>
                <hr>
                <h3>Back to sashalaurent.com</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="http://www.sashalaurent.com" download="download">
                <span class="oi oi-data-transfer-download"></span>
                <hr>
                <h3>Download the game</h3>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="http://www.github.com/sasha-laurent">
                <span class="oi oi-code"></span>
                <hr>
                <h3>Get the code on Github</h3>
            </a>
        </div>
    </div>
</footer>