{% extends '@Core/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <h1>PathTaker</h1>

                <p>Welcome to my Unity platform game website, PathTaker !</p>

                <h1>One goal, three paths, the choice is yours.</h1>

                <div class="scroll">
                    <span class="oi oi-chevron-bottom">&nbsp;</span>
                </div>

            </div>
        </div>
    </div>

    <div class="container content empty">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>

    <div class="container content paths">
        <div class="row">
            <div class="col-lg-4 path thinking">
                <h1>Thinking</h1>

                <p>Choose the thinking path if you want to test your mental power.</p>

                <h1>Ready to make your brain work ?</h1>
            </div>
            <div class="col-lg-4 path jumping">
                <h1>Jumping</h1>

                <p>Choose the jumping path if you think your jumping skill is the best.</p>

                <h1>Can you jump through this path ?</h1>
            </div>
            <div class="col-lg-4 path dodging">
                <h1>Dodging</h1>

                <p>Choose the dodging path to see if your footwork is on point</p>

                <h1>Do you trust your feet ?</h1>
            </div>
        </div>
    </div>

    <div class="container content empty">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>

{% endblock %}